<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rent.user_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @rent.movie_id %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @rent.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @rent.date_to %>
</p>

<p>
  <strong>Status:</strong>
  <%= @rent.status %>
</p>

<p>
  <strong>Seen:</strong>
  <%= @rent.seen %>
</p>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
