
    <table class="table">
        <tr>
            <td>
                <%= review.comment %>&nbsp
                <% if user_signed_in? %>
                        <% if review.user_id == current_user.id %>

                                <%= link_to 'edit', edit_movie_review_path(review.movie, review) %> |&nbsp
                                <%= link_to 'delete', movie_review_path(review.movie, review), method: :delete, data: { confirm: "Are you sure dude?" } %>

                        <% end %>
                <% end %>
            <td>
        </tr>
    </table>


