
<%= simple_form_for(@movie) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="container">
  <div class="form">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.file_field :image  %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  </div>
<% end %>
