<div class="container" >
<% if !user_signed_in? %>
<div class="jumbotron">
  <h1>Your favorite movies all in here</h1>
  <p>
  Although the start of the history of film is not clearly defined, the commercial, public screening of ten of Lumière brothers' short films in Paris on 28 December 1895 can be regarded as the breakthrough of projected cinematographic motion pictures. There had been earlier cinematographic results and screenings by others, but they lacked either the quality, financial backing, stamina or the luck to find the momentum that propelled the cinématographe Lumière into a worldwide success.
  </p>
  <p><%= link_to "sign up", new_user_registration_path, class: "btn btn-outline-primary" %></p>
</div>

<% end %>
<div class="row">
    <% @movies.each do |movie| %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail" >
            <%= link_to (image_tag movie.image, class: 'image', style: 'width: 300px; height:300px'), movie %>
          </div>
          <% if user_signed_in? %>
              <div class="content">
                <% if user_add_to_library?(current_user, movie) %>
                  <%= link_to 'Cancel', movie, method: :put, class: "btn btn-secondary mr-2 is-fullwidth" %>
                <% else  %>
                  <%= link_to 'Rent', movie, method: :put, class: "btn btn-secondary mr-2 is-fullwidth", style: 'width: 300px' %>
                <% end %>
            </div>
          <% end %>
          &nbsp
        </div>&nbsp

    <% end %>
</div>
</div>




