
    <div class="container">
      <div class="col-md-4">
      <%= image_tag(@movie.image, style: 'width:100px, height:400px') %>
      </div>
      <div class="col-md-8">
        <h2><%= @movie.name %></h2>
        <h3><%= @movie.category %></h3>
        <p><%= @movie.description %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3>Comments section</h3>
        <%= render @movie.reviews %>
        <% if user_signed_in? %>
          <div>
            <%= link_to 'add comment', new_movie_review_path(@movie) %>
          </div>
        <% end %>
      </div>
    </div>

</p>
    <%= button_to 'Rent the movie', :controller => "rents", :action => "create",:movie_id => @movie.id, method: :post %>
    <%= button_to 'Add to library', :controller => "owneds", :action => "create",:movie_id => @movie.id, method: :post %>

    <% if @movie.user_id == current_user.id %>
      <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <% end %>|
<%= link_to 'Back', movies_path %>
