<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1>Admin Page</h1>
        <p>Welcome to admin Page</p>
      </div>
    </div>
  </div>
</div>