<section class="jumbotron text-center">
<div class="container">
<h1>Movies list</h1>
<p class="lead text-muted">ACST Ciné</p>
<p>
  <a href="#" class="btn btn-primary my-2">Accueil</a>
  <a href="#" class="btn btn-secondary my-2">Profile</a>
</p>
</div>
</section>

<% @movies.each_with_index do |movie| %>

<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <svg data-id="<%= movie.id %>"  class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="20%" y="50%" fill="#eceeef" dy=".3em"><%= movie.name %></text></svg>
      <div class="card-body">
        <p class="card-text"><%= movie.name %></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Louer</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Liker</button>
          </div>
          <small class="text-muted">50K views</small>
        </div>
      </div>
    </div>
  </div>
  <% end %>  
  



