<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
        ACST
      </a>
    </li>
    <li>
      <%= link_to 'Dashboard', admin_dashboard_index_path %>
    </li>
    <li>
      <%= link_to 'Users', admin_list_users_path %>
    </li>
    <li>
      <%= link_to 'Movies',admin_list_movies_path %>
    </li>
    <li>
      <%= link_to 'Roles',admin_list_roles_path %>
    </li>
  </ul>
</div>
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle" style="color: white; background-color: black; border-radius: 0">Menu</a>
