<p id="notice"><%= notice %></p>

<h1>Owneds</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>User</th>
      <th>Date add</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owneds.each do |owned| %>
      <tr>
        <td><%= owned.movie_id %></td>
        <td><%= owned.user_id %></td>
        <td><%= owned.date_add %></td>
        <td><%= owned.availability %></td>
        <td><%= link_to 'Show', owned %></td>
        <td><%= link_to 'Edit', edit_owned_path(owned) %></td>
        <td><%= link_to 'Destroy', owned, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Owned', new_owned_path %>
