<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @owned.movie_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @owned.user_id %>
</p>

<p>
  <strong>Date add:</strong>
  <%= @owned.date_add %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @owned.availability %>
</p>

<%= link_to 'Edit', edit_owned_path(@owned) %> |
<%= link_to 'Back', owneds_path %>
