<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<div class="btn" style="color:black; border-radius: 0"><%= link_to 'New Movie', new_admin_movie_path %></div>

<div class="row">
  <div id="admin" class="col s12">
    <div class="card material-table">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Image</th>
          <th>Category</th>
          <th>User</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @movies.each do |movie| %>
          <tr>
            <td><%= movie.name %></td>
            <td><%= movie.description %></td>
            <td><%= image_tag movie.image, class: 'image', style: 'width: 300px; height:300px'%></td>
            <td><%= movie.category %></td>
            <td><%= movie.user_id %></td>
            <td><%= link_to 'Show', movie %></td>
            <td><%= link_to 'Edit', edit_admin_movie_path(movie) %></td>
            <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
