<p id="notice"><%= notice %></p>

<h1>Roles</h1>

<div class="btn" style="color:black; border-radius: 0"><%= link_to 'New Role', new_admin_role_path %></div>

<div class="row">
  <div id="admin" class="col s12">
    <div class="card material-table">
      <table>
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td><%= role.id %></td>
            <td><%= role.name %></td>
            <td><%= link_to 'Show', role %></td>
            <td><%= link_to 'Edit', edit_admin_role_path(role) %></td>
            <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
