<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="btn" style="color:black; border-radius: 0"><%= link_to 'New User', new_admin_user_registration_path %></div>

<div class="row">
  <div id="admin" class="col s12">
    <div class="card material-table">
      <table id="datatable">
        <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Username</th>
          <th>Role</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.username %></td>
            <td><%= user.role.name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>