<nav class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to 'ACST Ciné', movies_path %></h5>

    <% if user_signed_in? %>
        <div class="navbar-item" >
            <%= link_to "library", library_index_path, class: "mr-5" %>
        </div>
        <%= link_to 'New Movie', new_movie_path, class: "mr-2" %>

        <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "btn btn-secondary mr-2" %>
    <% else %>
        <%= link_to "sign in", new_user_session_path, class: "btn btn-secondary mr-2" %>
        <%= link_to "sign up", new_user_registration_path, class: "btn btn-outline-primary" %>
    <% end %>
  </nav>
