<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% unless flash.empty? %>
      <script type="text/javascript">
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
      </script>
    <% end %>
    <div id="wrapper">
      <%= render 'layouts/admin/navbar' %>
      <%= render 'layouts/admin/sidebar' %>
      <%= yield %>
    </div>

  </body>

  <script>
      $("#menu-toggle").on('click',function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
  </script>
</html>
