dashboard
<p id="notice"><%= notice %></p>

<h1>Rents</h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Movie</th>
    <th>Date from</th>
    <th>Date to</th>
    <th>Status</th>
    <th>Seen</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <%= Date.today + 30 %>

  <tbody>
  <% @rents.each do |rent| %>
    <tr>
      <td><%= rent.user.username %></td>
      <td><%= rent.movie.name %></td>
      <td><%= rent.date_from %></td>
      <td><%= rent.date_to %></td>
      <td><%= rent.status %></td>
      <td><%= rent.seen %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>