<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                 <%= current_user.username %>'s Movies collection
            </h1 >
                
            <h3 class="subtitles">
                Here you can access your choosen movies below and manage them
            </h3>
        </div>
    </div>
</section>

<% if @library_movies.exists? %>
    <div class="book-grid">
        <%= render @library_movies, movie: @movie %>
    </div>    

<% else %>

    <article class="message">
        <div class="message-body">
            You haven't added any movies to your library yet.
        </div>
    </article>

<% end %>